name: russkiy_bred
description: Приложение для просмотра видеоматериалов в стиле Древней Руси

# Версия приложения
version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # Управление состоянием
  flutter_bloc: ^8.1.2
  equatable: ^2.0.5
  
  # Навигация
  go_router: ^7.0.0
  
  # Работа с сетью
  dio: ^5.1.1
  connectivity_plus: ^4.0.1
  
  # Локальное хранилище
  sqflite: ^2.2.8+4
  sqflite_common_ffi: ^2.2.5
  sqlite3_flutter_libs: ^0.5.15
  shared_preferences: ^2.1.1
  path_provider: ^2.0.15
  
  # Видеоплеер
  video_player: ^2.6.1
  chewie: ^1.5.0
  
  # UI компоненты
  cached_network_image: ^3.2.3
  flutter_svg: ^2.0.5
  google_fonts: ^4.0.4
  shimmer: ^3.0.0
  
  # Утилиты
  intl: ^0.18.0
  path: ^1.8.3
  file_picker: ^5.3.0
  permission_handler: ^10.2.0
  logger: ^1.3.0
  uuid: ^3.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1
  build_runner: ^2.3.3
  flutter_launcher_icons: ^0.13.1
  msix: ^3.14.2

# Конфигурация Flutter
flutter:
  uses-material-design: true
  
  assets:
    - assets/images/
    - assets/icons/
    
  fonts:
    - family: RusskiyFont
      fonts:
        - asset: assets/fonts/russkiy_font_regular.ttf
        - asset: assets/fonts/russkiy_font_bold.ttf
          weight: 700

# Конфигурация иконок приложения
flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icons/app_icon.png"
  windows:
    generate: true
    image_path: "assets/icons/app_icon.png"
    icon_size: 48

# Конфигурация MSIX для Windows
msix_config:
  display_name: Русский Бред видеоматериалы
  publisher_display_name: Русский Бред
  identity_name: com.russkiybred.app
  msix_version: 1.0.0.0
  logo_path: assets/icons/app_icon.png
  capabilities: internetClient
